body {
    background-color: #A6526D;
}

#BackPanel {
    height: 100vh;
}

#PinkPanel {
    background-color: #EF8CAD;
    width: 85vw;
    height: 100%;
    left: 0;
}

#LigthPinkPanel {
    background-color: #F6C3D4;
    width: 70vw;
    height: 100%;
    left: 0;
}

#GreenPanel {
    background-color: #DEFEDD;
    width: 55vw;
    height: 100%;
    left:0
}

#LogInLogo {
    padding-top: 20vh;
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans';
}

#InlogField{
    text-align: center;
}

button {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}