:root {
    --body_background: #DEFEDD;
    --flashcard_background: white;
    --body_color: black;
    --button_background: white;
    --grid_background: #F6C3D4;
    --nav_color: #EF8CAD;
}


[data-theme="dark"] {
    --body_background: #222322;
    --flashcard_background: #7A4052;
    --body_color: white;
    --button_background: #222322;
    --grid_background: #7A4052;
    --nav_color: #7A4052;
}


body {
    background-color: var(--body_background);
    color: var(--body_color);
    transition: all 0.1s ease-in-out;
}

.navbar-flashy {
    color: var(--body_color);
    background-color: var(--nav_color);
    width: 100%;
    height: 15%;
    transition: all 0.1s ease-in-out;
}

#homePageNav {
    background-color: var(--body_background);
    transition: all 0.1s ease-in-out;
}

.homeNavButtons {
    color: var(--body_color);
    background-color: var(--button_background);
    transition: all 0.1s ease-in-out;
}

/* CardViewerCSS */

#flashCard {
    position: relative;
    margin: auto;
    margin-top: 80px;
    width: 800px;
    height: 522px;
    background-color: var(--flashcard_background);
    color: var(--body_color);
    border-radius: 30px;
    filter: drop-shadow(4px 4px 4px rgb(87, 85, 85));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #DuplicatedCard {
    font-size: 20px;
    position: absolute;
    align-items: center;
    bottom: 10px;
} */

#DifficultCard {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 4px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}

#EditFlashCard {
    position: absolute;
    right: 20px;
    top: 70px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 4px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;    
}

#flashCardText {
    color: var(--body_color);
    text-align: center;
    font-size: 30px;
}

#Title {
    color: var(--body_color);
    font-size: 80px;
    margin-left: 30px;
}

#BackButton {
    position: absolute;
    left: 0;
    top: 220px;
    margin-left: 120px; 
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 35px;
}

#NextButton {
    position: absolute;
    right: 0; 
    top: 220px;
    margin-right: 120px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 35px;
}

#ShuffleCards {
    position: absolute;
    bottom: 5px;
    left: 40vw;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 35px;
}

#HomeButton{
    /* Spurte chat om hvordan sentrere knappene på høyre side */
    padding: 5px;
    position:absolute; 
    right: 180px;
    top: 6%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 35px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
}

#UserButton {
    padding: 5px;
    position:absolute; 
    right: 30px;
    top: 6%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 35px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
}

/* InlogCSS */

#BackPanel {
    height: 100vh;
    background-color: #A6526D;
}

#PinkPanel {
    background-color: #EF8CAD;
    width: 85vw;
    height: 100%;
    left: 0;
}

#LigthPinkPanel {
    background-color: #F6C3D4;
    width: 70vw;
    height: 100%;
    left: 0;
}

#GreenPanel {
    background-color: #DEFEDD;
    width: 55vw;
    height: 100%;
    left:0
}

#LogInLogo {
    padding-top: 20vh;
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans';
}

#InlogField{
    text-align: center;
}

#LoggInnBtn {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}
#RegisterBtn {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}


/* CSS for homepage */

#HomePageNavButton {
    padding: 1%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    font-size: 30px;
    border: transparent;
}

#HomePageNavButton:hover {
    text-decoration: underline;
}


#CreateSetButton {
    padding: 1px;
    position: absolute;
    right: 30px;
    margin-top: 15px;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 30px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
}

.search-bar input[type=text]{
    position: absolute;
    padding: 1px;
    right: 250px;
    width: 150px;
    margin-top: 15px;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 30px;
}

Nav>homenav {
    background-color: var(--body_background);
}

.Container {
    display: flex;
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin: 30px;
}

.grid-item {
    position: relative;
    background-color: var(--grid_background);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 240px;
}

.likeSet {
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    right: 10px;
    bottom: 60px;
    background-color: White;
    border-radius: 8px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px rgb(87, 85, 85));
}

.commentSet {
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    right: 10px;
    bottom: 10px;
    background-color: White;
    border-radius: 8px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px rgb(87, 85, 85));
}

/* AdminPanel CSS */

#addAdminBtn, #removeAdminBtn {
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}

#divUser{
    margin-left: 30px;
    font-size: 20px;
}