:root {
    --body_background: #DEFEDD;
    --flashcard_background: white;
    --body_color: black;
    --button_background: white;
    --grid_background: #F6C3D4;
    --nav_color: #EF8CAD;
    --slide_color: #EF8CAD;
    --comment_color: black;
    --button_shadow: rgb(87, 85, 85);
}


[data-theme="dark"] {
    --body_background: #222322;
    --flashcard_background: #7A4052;
    --body_color: white;
    --button_background: #222322;
    --grid_background: #7A4052;
    --nav_color: #7A4052;
    --slide_color: #7A4052;
    --comment_color: black;
    --button_shadow: white;
}

body {
    background-color: var(--body_background);
    color: var(--body_color);
    transition: all 0.1s ease-in-out;

}

.navbar-flashy {
    color: var(--body_color);
    background-color: var(--nav_color);
    width: 100%;
    height: 15%;
    transition: all 0.1s ease-in-out;

}

#homePageNav {
    background-color: var(--body_background);
    transition: all 0.1s ease-in-out;
}

.homeNavButtons {
    color: var(--body_color);
    background-color: var(--button_background);
    transition: all 0.1s ease-in-out;
}



/* CardViewerCSS */

#flashCard {
    position: relative;
    margin: auto;
    margin-top: -50px;
    width: 700px;
    height: 460px;
    background-color: var(--flashcard_background);
    color: var(--body_color);
    border-radius: 30px;
    filter: drop-shadow(4px 4px 4px var(--button_shadow));
    display: flex;
    justify-content: center;
    align-items: center;
}

.setTitle{
    font-size: 20px;
    font-weight: bold;
}


/* #DuplicatedCard {
    font-size: 20px;
    position: absolute;
    align-items: center;
    bottom: 10px;
} */

#DifficultCard {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 4px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 20px;
}

#EditFlashCard {
    position: absolute;
    right: 20px;
    top: 70px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 4px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 20px;    
}

#flashCardText {
    color: var(--body_color);
    text-align: center;
    font-size: 30px;
}

#Title {
    color: var(--body_color);
    font-size: 80px;
    margin-left: 30px;
}

#BackButton {
    position: absolute;
    left: 0;
    top: 250px;
    margin-left: 160px; 
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 35px;
}

#NextButton {
    position: absolute;
    right: 0; 
    top: 250px;
    margin-right: 160px;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 35px;
}

#ShuffleCards {
    position: relative;
    top: 490px;
    left: 40vw;
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 30px;
}

#HomeButton{
    /* Spurte chat om hvordan sentrere knappene på høyre side */
    padding: 5px;
    position:absolute; 
    right: 180px;
    top: 9%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 35px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
}

#UserButton {
    padding: 5px;
    position:absolute; 
    right: 30px;
    top: 9%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 35px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
}

/* InlogCSS */

#LogInLogo{
    color: black;
}

#BackPanel {
    height: 100vh;
    background-color: #A6526D;
}

#PinkPanel {
    background-color: #EF8CAD;
    width: 85vw;
    height: 100%;
    left: 0;
}

#LigthPinkPanel {
    background-color: #F6C3D4;
    width: 70vw;
    height: 100%;
    left: 0;
}

#GreenPanel {
    background-color: #DEFEDD;
    width: 55vw;
    height: 100%;
    left:0
}

#LogInLogo {
    padding-top: 20vh;
    text-align: center;
    font-size: 60px;
    font-family: 'Lucida Sans';
}

#InlogField{
    text-align: center;
}

#LoggInnBtn {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}
#RegisterBtn {
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(87, 85, 85));
    font-size: 20px;
}


/* CSS for homepage */

#HomePageNavButton {
    padding: 1%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    font-size: 30px;
    border: transparent;
}

#HomePageNavButton:hover {
    text-decoration: underline;
}

#CreateSetButton {
    padding: 1px;
    position: absolute;
    right: 30px;
    margin-top: 15px;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 30px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
}

.search-bar input[type=text]{
    position: absolute;
    padding: 1px;
    right: 250px;
    width: 150px;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    font-size: 30px;
    filter: drop-shadow(1px 1px 1px var(--button_shadow));
}


Nav>homenav {
    background-color: var(--body_background);
}

.Container {
    display: flex;
    max-width: 100%;
}

.search-bar{
    display: flex;
    align-items: center; 
    padding: 10px;
    border-radius: 5px;
}

.tagBox {
    position: absolute; /* Position the overlay relative to the viewport */
    top: 34%; /* Align the top edge of the overlay to the top of the viewport */
    left: 30.75%; /* Align the left edge of the overlay to the left of the viewport */
    width: 162px; /* Make the overlay full width of the viewport */
    height: auto; /* Make the overlay full height of the viewport */
    background-color: var(--body_background); /* Semi-transparent black background */
    z-index: 9999; /* Set a high z-index to ensure it appears on top of other content */
}

#categoriesButton{
    padding: 1%;
    transform: translateY(-5%);
    background-color: var(--button_background);
    color: var(--body_color);
    font-size: 30px;
    border: transparent;
}

#categoriesButton:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    margin: 30px;
}

.grid-item {
    position: relative;
    background-color: var(--grid_background);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 240px;
}

.likeSet {
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    right: 10px;
    bottom: 60px;
    background-color: White;
    border-radius: 8px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px var(--button_shadow));
}

.commentSet {
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    right: 10px;
    bottom: 10px;
    background-color: White;
    border-radius: 8px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 1px var(--button_shadow));
}

/* AdminPanel CSS */

#addAdminBtn, #removeAdminBtn {
    background-color: var(--button_background);
    color: var(--body_color);
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
    font-size: 20px;
}

.name-bar{
    padding: 1%;
    transform: translateY(-5%);
}

.cardfront, .cardback{
    margin-top: 15px;
}

#divUser{
    margin-left: 30px;
    font-size: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switchInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    margin-top: 5px;
    left: 10px;
    bottom: 10px;
    background-color: #76B27C;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 10px;
    bottom: 4px;
    background-color: #76B27C;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
background-color: #76B27C;
}

input:focus + .slider {
box-shadow: 0 0 1px #76B27C;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;}

#favoriteimage{
    background-color: 'transparent';
    width: 20px;
    height: 20px;
}

/* Kommentar styling */
.commentContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    display:flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .commentContainer:hover {
    background-color: #F6C3D4;
  }
  
  .inputContainer {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .inputContainer > span {
    margin-top: 5px;
  }
  
  .inputContainer__input {
    margin: 6px 0 0px 0;
    padding: 5px;
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
  }
  
  .first_input {
    margin: 0;
  }
  
  .commentContainer > span {
    margin: 0 5px;
    top: 20px;
  }
  
  .reply {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: #4e4e4e;
    font-weight: 600;
    cursor: pointer;
  }

  .reply:hover {
    text-decoration: underline;
  }
  
  .comment {
    color: black;
    background-color: #EF8CAD;
    letter-spacing: 0.8px;
    filter: drop-shadow(2px 2px 2px var(--button_shadow));
  }

  .CommentStructure{
    margin-top: 20px;
    width: fit-content;
  }
  .Commentfield{
    position: relative;
    left: 40%;
    top: 30px;
    margin-bottom: 50px;
  }

    /* Progress bar styling */
.progressBar {
    position: relative;
    height: 20px;
    background-color: var(--slide_color); 
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #76B27C; 
    border-radius: 10px;
    width: 0%; /* Set initial width to 0% */
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--body_color); 
    font-size: 14px;
    font-weight: bold;
}
